//output:index.html

doctype html

html

head
  meta(name="Lizzie Karr", content="lizzie karr music")
  meta(name="description", content="music page")
  link(rel='shortcut icon' href='https://s3.amazonaws.com/www.lizziekarrmusic.com/images/favicon.ico')
  link(href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Cabin+Sketch|Monoton|Reenie+Beanie|Syncopate|Ruslan+Display" rel="stylesheet")
  script(src="./jquery.js")
  script(src='bower_components/jquery/jquery.js')
  script(src='bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js')
  script(src="./modernizr-2.8.3.min.js")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", rel="stylesheet")
  link(href="./styles.min.css", rel="stylesheet")
  script(type="text/javascript", src="./app.js")
  title Lizzie Karr Music

.container-fluid
  header
    a(href='#lk-music').lizzie Lizzie Karr
    a(href='#contact' class='contact-link') Contact
    
  .triangles
    .triangle.left
      a(href='#videos') Videos
    .triangle.right
      a(href='#download') Download 
  
  body
    section.zero(id='contact')
      .email lizziemoves@gmail.com
      .follow
        a(href='https://www.youtube.com/user/lizziemoves') youtube
        a(href='http://facebook.com/lizziekarrmusic') facebook
        a(href='http://twitter.com/lizzie_karr') twitter
        a(href='http://soundcloud.com/lizziekarrmusic') soundcloud
        
    section.one(id='lk-music')
    section
      .videos(id='videos')
        .titles
          h2.a Your Number
          h2.b Asphyxiate
          h2.c Bitter Lemon
          h2.d Milkshake
          h2.e Like It's Bad
          h2.f Work B*tch
          h2.g Pop is Killing My Soul
        .play 
          .fa.fa-play
          iframe.number(width="560" height="315" src="https://www.youtube.com/embed/g-pNeF-Q3dk" frameborder="0" allowfullscreen)
          iframe.asphyxiate(width="560" height="315" src="https://www.youtube.com/embed/H5wqjozn7ok" frameborder="0" allowfullscreen)
          iframe.lemon(width="560" height="315" src="https://www.youtube.com/embed/fVtxf0__GME" frameborder="0" allowfullscreen) 
          iframe.milkshake(width="560" height="315" src="https://www.youtube.com/embed/jd2y7d2lXRM" frameborder="0" allowfullscreen) 
          iframe.bad(src="https://player.vimeo.com/video/44333923" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
          iframe.work(width="560" height="315" src="https://www.youtube.com/embed/7my2QveEcKE" frameborder="0" allowfullscreen)
          iframe.pop(width="560" height="315" src="https://www.youtube.com/embed/fYLvAWYvMAg" frameborder="0" allowfullscreen)
    section.two
    section
      .download(id='download')
        a(href='https://www.amazon.com/s/ref=SOS?rh=i%3Apopular%2Ck%3ALizzie+Karr&keywords=Lizzie+Karr&ie=UTF8&qid=1498671730' target='blank') Amazon 
        a(href='https://itunes.apple.com/us/album/like-its-bad/id1100636358' target='blank') iTunes
        a(href='https://lizziekarr.bandcamp.com/' target='blank') Bandcamp
        a(href='https://squareup.com/store/lizzie-karr-music' target='blank') CD's + Tees
    section.three
    .diary
      p When I was small, I made up songs.  Then I usually realized that Michael Jackson or Amy Grant had already written that melody, and I wondered if every song in the world had already been written. 
      p In summer, I made up dance routines in the front yard, and directed skits with the kids on the street.  School was a breeze, but dance class was hard.  I felt shy in there, a little bit like a nobody, but a nobody who wanted to try and try.
      p Senior year of high school, I took twelve dance classes a week.  I remember the day that my body submitted itself completely to the movement.  Thought left my head.  I experienced God.  Since then I've vascillated between the euphoria of losing myself in movement and music and the adrenalin-charged terror of being seen and heard.
      p I write songs with love and madness.  They are strange creatures in a ridiculous world.  All the love in the world to you.  I hope you can catch some of this wave that I'm riding.
  
  
